<div class='project card' *ngFor='let project of projects'>
    <div class="card-header">{{ project.projectName }}</div>
    <div class="card-body">
        <p class="card-text">{{ project.projectDescription }}</p>
        <button class="btn btn-info btn-sm"
        style='color: white'
        (click)='onOpen()'>Open</button>
        <button class="btn btn-danger btn-sm"
        style="float: right; margin-left: 10px"
        (click)='onDelete(project)'>Delete</button>
        <button class="btn btn-warning btn-sm"
        style="float: right; color: white"
        (click)='onEdit()'>Edit</button>
    </div>
</div>

<div class='create-project-icon'>
    <i class="fa fa-plus-circle large" style="font-size:64px; color: #28A745;"></i>
</div>