<div class='project card' *ngFor='let project of projects'>
    <div class="card-header">{{ project.projectName }}</div>
    <div class="card-body">
        <p class="card-text">{{ project.projectDescription }}</p>
        <button class="btn btn-info btn-sm"
        style='color: white'
        (click)='onOpen()'>Open</button>
        <button class="btn btn-danger btn-sm"
        style="float: right; margin-left: 10px"
        (click)='onDelete(project)'>Delete</button>
        <button class="btn btn-warning btn-sm"
        style="float: right; color: white"
        (click)='onEdit()'>Edit</button>
    </div>
</div>

<div class='create-project card' *ngIf='createClicked'>
    <div class='card-header'>
        <a>
            Create Project
        </a>
        <a (click)='onClose()' style='cursor: pointer; float: right' (click)='onCreate()'>
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
</div>

<div class='create-project-icon'>
    <a style='cursor: pointer' (click)='onCreate()'>
        <i class="fa fa-plus-circle" style="font-size:64px; color: #28A745;"></i>
    </a>
</div>