.project {
    margin-left: 10px;
    margin-top: 10px;
    width: 500px;
    display: inline-block;
}

.create-project-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.create-project {
    position:absolute;
    top:50%;
    left:50%;
    width: 500px;
    margin-left: -250px;
    height: 800px;
    margin-top: -400px;
}